    body{
        font-family: 'Arial', sans-serif;
        background-color: #f0f0f0;
        color: #333;
        margin: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container{
        border: 4px solid #333;
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        width:500px;
        height: auto;
        align-items: flex-end;
        background-origin: border-box;
        background-clip: content-box;
    }

    .img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    img{
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        align-items: center;
        text-align: center;
    }

    .about{
        text-align: start;
        color: #222;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
    }