body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;

}

.container {
    max-width: 430px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#filterInput {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.highlight {
    background-color: yellow;
}