/* Changing the style of the sound range */

#soundRange {
  height: 5px;
  background: lightgray;
  border-radius: 5px;
  outline: none;
}
#soundRange::active {
  filter: blur(8px);
}
#soundRange:hover + #screen {
  color: lightblue;
  display: block;
}

#soundRangeTwo {
  font-size: 30px;
}

#screen {
  display: none;
  color:black;
}
