body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
}

.track {
  background: linear-gradient(
    90deg,
    rgba(117, 252, 123) 30%,
    rgba(214, 123, 213) 0%
  );
  outline: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  position: relative;
}

.cirlcle {
  background-color: blue;
  top: -10px;
  left: 80px;
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

/* let;s add the hover to the circle 
let's good. Well i have been usign the mechanical keyboard 
since the 3 month's ago i guess.  */

.cirlcle:hover {
  filter: blur(1px);
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 100%;
}

.cirlcle:active {
  background-color: red;
}
