body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
}

.track {
  background-color: black;
  background-image: linear-gradient(90deg, red 10%, black 20%);
  width: 50%;
  height: 10px;
  border-radius: 5px;
  position: relative;
}

.cirlcle {
  background-color: blue;
  top: -10px;
  left: 80px;
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

/* let;s add the hover to the circle 
let's good. Well i have been usign the mechanical keyboard 
since the 3 month's ago i guess.  */

.cirlcle:hover {
  filter: blur(1px);
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 100%;
}

.cirlcle:active {
  background-color: red;
}
