/* Changing the style of the sound range */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.track {
  background-color: black;
  width: 150px;
  height: 5px;
  border-radius: 5px;
}

.cirlcle{
  background-color: blue;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50px;
}
