/* Are you in bruh??  */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.track {
  background-color: black;
  width: 190px;
  height: 10px;
  border-radius: 5px;
  position: relative;
}

.cirlcle {
  background-color: blue;
  top: -10px;
  top: -10px;
  left: 30px;
  right: 0;
  margin-right: 50px;
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
